/*-- scss:rules --*/

.light-mode { display: block; }
.dark-mode { display: none; }

.quarto-title-banner {
background: #ADC2D9;
}

.regex_match { // used in the regex chapter, in the summary
    background-color:#D1FFBD
}